.forecast__hourly {
    padding: 28px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;

    background-color: var(--neutral-800);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-2lg);
    font-weight: 600;
}

.hourly__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
} 