.forecast__hourly {
    max-height: 781px;
    min-width: 460px;
    border-radius: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--neutral-800);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-2lg);
    font-weight: 600;

    @media screen and (max-width: 600px) {
        gap: 40px;
        min-width: 0;
        max-height: none;
    }
}

.hourly__header {
    padding: 28px 28px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 12px;
    }
}

.hourly__list {
    list-style: none;
    margin: 0;
    padding: 0 28px 28px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 22px;
} 