.skeleton__current {
    min-width: 180px;
    height: 415px;
    border-radius: 32px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    animation: loading 1.5s ease-in-out infinite;
}

.current__loading {
    height: 40px;
    width: 40px;

    animation: spin 0.8s linear infinite;
}