.search__container {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 1014px) {
        flex-direction: column;
        gap: 12px;
    }
}

.search__input {
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    padding: 16px 24px 16px 60px;
    min-width: 0px;

    background-color: var(--neutral-700);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 400;

    &:focus-visible {   
        outline: 2px solid var(--neutral-0);
        outline-offset: 4px;
    }
}

.search__wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
}

.search__icon {
    width: 24px;
    height: 24px;
    
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search__button {
    border: none;
    border-radius: 12px;
    padding: 12px 20px;

    background-color: var(--blue-500);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 400;

    &:hover {
        cursor: pointer;
        background-color: var(--blue-700);
    }
    &:focus-visible {   
        outline: 2px solid var(--blue-500);
        outline-offset: 4px;
    }
    &:disabled {
        cursor: default;
        color: var(--neutral-600);
        background-color: var(--neutral-800);
    }
}

.search__options {
    margin-top: 8px;
    min-width: 240px;
    padding: 6px;
    border-radius: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 4px;

    outline: none;
    border: 1px solid var(--neutral-600);
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-md);
    font-weight: 400;
}

.search__option {
    padding: 8px;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--neutral-600);
    }
}
.search__option--noresult {
    &:hover {
        cursor: default;
        background-color: var(--neutral-800);
    }
}
.search__option[data-selected] {
    background-color: var(--neutral-600);

    &:hover {
        cursor: pointer;
        background-color: var(--neutral-600);
    }
}
.search__option[data-focus] {
    outline: 1px solid var(--neutral-0);
    &:hover {
        outline: none;
    }
}