.card__hourly {
    min-width: 220px;
    border-radius: 8px;
    padding: 12px 18px 12px 12px;
    box-sizing: border-box;

    display: flex;
    gap: 8px;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-700);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 500;
}

.hourly__icon {
    height: 40px;
    width: 40px;
}

.hourly__data {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly__temperature {
    font-size: var(--text-md);
    color: var(--neutral-200);
    font-weight: 400;
}