.skeleton__daily {
    min-width: 142px;
    height: 203px;
    border-radius: 16px;
    box-sizing: border-box;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-800);
    animation: loading 1.5s ease-in-out infinite;
}