.card__info {
    min-width: 220px;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 24px;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-800);
    color: var(--neutral-200);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 500;
}
.card__info--loading {
    animation: loading 1.5s ease-in-out infinite;
}

.info__data {
    color: var(--neutral-0);
    font-size: var(--text-xl);
    font-weight: 400;
}