.card__daily {
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 500;
}

.daily__icon {
    height: 100px;
    width: 100px;
}

.daily__temperature {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: var(--text-md);
    font-weight: 400;
}

.daily__min {
    color: var(--neutral-200);
}