.card__daily {
    min-width: 140px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    border: solid 1px var(--neutral-300);
    background-color: var(--neutral-600);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-size: var(--text-lg);
    font-weight: 600;
}
.card__daily--loading {
    animation: loading 1.5s ease-in-out infinite;
}
.card__daily--loading * {
    visibility: hidden;
}

.daily__icon {
    height: 112px;
    width: 112px;
}

.daily__temperature {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: var(--text-md);
    font-weight: 400;
}

.daily__min {
    color: var(--neutral-200);
}