@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-900: hsl(243, 96%, 9%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;

  --text-2xl: 96px;
  --text-xl: 36px;
  --text-2lg: 28px;
  --text-lg: 22px;
  --text-md: 18px;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100dvh;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}