.current__container {
    min-width: 180px;
    padding: 144px 20px;
    border-radius: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: solid 1px var(--neutral-600);
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    font-family: var(--font-dm-sans);
    font-weight: 600;

    background-image: url('../../assets/images/bg-today-large.svg');
    background-repeat: no-repeat;
    
    /* Causes performance issues, but I'm going to leave this be for now */
    background-size: cover;

    @media screen and (max-width: 600px) {
        padding: 92px 20px;

        flex-direction: column;
        gap: 20px;

        background-image: url('../../assets/images/bg-today-small.svg');
    }
}

.current__location {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: var(--text-xl);
}

.current__date {
    color: var(--neutral-200);
    font-size: var(--text-lg);
    font-weight: 400;
}

.current__data {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: var(--text-2xl);

    @media screen and (max-width: 600px) {
        gap: 40px;
    }
}

.current__icon {
    width: 112px;
    height: 112px;
}